@font-face {
  font-family: 'FoundersGrotesk Cond Bold';
  src: url('/assets/fonts/FoundersGrotCondWeb-Bold.woff');
}
@font-face {
  font-family: "FoundersGrotesk Cond Light";
  src: url("/assets/fonts/FoundersGrotCondWeb-Light.woff");
}
@font-face {
  font-family: "FoundersGrotesk Bold";
  src: url("/assets/fonts/FoundersGroteskWeb-Bold.woff");
}
@font-face {
  font-family: "FoundersGrotesk Regular";
  src: url("/assets/fonts/FoundersGroteskWeb-Regular.woff2");
}